.iconi{
	width: 72px;
	margin-top: -10px;
}
.service-box .service-icon{
	width: 140px;
	height: 140px;
}
.service-box .service-icon i{
	font-size: 64px;
	line-height: 140px;
}
.service-box:hover .service-icon{
	background: none;
	-webkit-filter: invert(1);
	filter: invert(1);
}
.service-box .service-icon{
	background: white;
}
